body{
    background-color:rgb(255, 185, 73) ;
}

.navbar-color{
    background-color: rgb(20, 41, 103);
}

.navbar-nav a{
    color: white;
}

.logo-chico{
    width: 50px;
}

.nav-link{
    color: white;
}
.nav a{
    text-decoration: none;
} 

.boton-editar:hover{
    color:yellowgreen;
    cursor: pointer;
}
.boton-borrar:hover{
    color: red;
    cursor: pointer;
}

.boton-buscar:hover{
    color: cornflowerblue;
    cursor: pointer;
}

.boton-subir:hover{
    color: yellow;
    cursor: pointer;
}

.bordes{
    border-radius: 10px;
}



.tabla-azul{
    color: white;
    background-color: rgb(20, 41, 103);
    
}

@media only screen and (max-width: 400px) {
    .chico{
        font-size: x-small ;
    }
}