body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 185, 73)!important;
}
.barra{
    background-color: rgb(20, 41, 103)!important;
    color:white;
    padding: 0px 0px !important;
    font-size: 20px;
    font-weight: 500;
}
.logo{
    width: 210px;
    padding-top: 0;
    padding-bottom: 0;
}
.menu{
    background-color: rgb(20, 41, 103)!important;
}
.menu li a {
    font-size: 20px;
    font-weight: 500;
}
.dropdown-item:hover{
color:rgb(255, 147, 46) !important;
}
.contenedor-log{
    background-color: rgb(20, 41, 103);
    color: white;
    margin: 100px auto ;
    text-align: center;
    border: 1px solid;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    font-size: 1.1em;
}
.contenedor-registro{
    background-color: rgb(20, 41, 103);
    color: white;
    border-radius: 20px;
    font-size: 1.1em;
    border: 1px solid;
}
.label-contra{
    margin-right: 20px;
}
.label-usuario{
    margin-right: 50px;
}
@media only screen and (max-width: 505px) {
   
    .contenedor-log{
        font-size: 0.9em;
        width: auto;
    }
    .label-usuario {
        margin-right: 45px;
    }
}