body{   
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: rgb(20, 41, 103);;
    border-color: rgb(20, 41, 103);;
}
.tabla-azul{
    color: white;
    background-color: rgb(20, 41, 103);
    
}

.logo{
    width: 210px;
    padding-top: 0;
    padding-bottom: 0;
}

/* Footer */
.footer-bg{
    background-color: rgb(20, 41, 103);
    color: white;
    height: 100vh;
    height: 20vh;

}

.social-icon{
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.logo-chico{
    width: 50px;
}

.nav-link{
    color: white;
}
.nav a{
    text-decoration: none;
} 

.imagen-table{
    width: 400px;
}

.colum-pequeña{
    max-width: 200px;
}

.colum-mediana{
    max-width: 350px;
}

.colum-grande{
    max-width: 500px;
}
