

.btn-primary {
    color: #fff;
    background-color: rgb(20, 41, 103);;
    border-color: rgb(20, 41, 103);;
}

.btn-secondary{
    background-color: rgb(255, 147, 46);
    border-color: rgb(255, 147, 46);
}
.btn-secondary:hover{
    background-color: rgb(255, 185, 73);
    border-color: rgb(255, 185, 73);
}
.logo{
    width: 210px;
    padding-top: 0;
    padding-bottom: 0;
}
.contenedor-registro{
    background-color: rgb(20, 41, 103);
    color: white;
    border-radius: 20px;
    font-size: 1.1em;
    border: 1px solid;
}
/* Footer */
.footer-bg{
    background-color: rgb(20, 41, 103);
    color: white;
    margin-top: auto;
}
.social-icon{
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.dropdown-item:hover{
    color:rgb(255, 147, 46) !important;
    background: none;
    }
.logo-chico{
    width: 50px;
}

.nav-link{
    color: white;
}

/* .nav-item:hover{
    border: rgb(20, 41, 103);
    background-color: rgb(20, 41, 103);
} */
/* .nav a{
    text-decoration: none;
}  */

.imagen-table{
    width: 400px;
}

.colum-pequeña{
    max-width: 200px;
}

.colum-mediana{
    max-width: 350px;
}

.colum-grande{
    max-width: 500px;
}
.navbar-toggler{
    background-color:white ;
}
ul#navbarUI li a{
    position: relative;
    color:#0E83CD;
    margin: 0px 10px;
    
}
ul#navbarUI li a:hover{
    color:rgb(255, 147, 46) !important;
    
}
ul#navbarUI li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 98%;
    height: 4px;
    background-color:rgb(255, 185, 73);
    color:rgb(255, 147, 46) !important;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);      
}
ul#navbarUI li a:hover:after{
    opacity:1;
    transform: translateY(10px);
    color:rgb(255, 147, 46) !important;
    
}


