body{
    background-color: white
}
.navbar-blanco{
    background-color: rgb(20, 41, 103)
}

.navbar-nav a{
    color: white;
}

.logo-chico{
    width: 50px;
}

.nav-link{
    color: white;
}
.nav a{
    text-decoration: none;
}