body{   
    font-family: 'Open Sans', sans-serif;
    
}

.formulario{
    background-color: rgb(255, 147, 46);
}
.btn-primary {
    color: #fff;
    background-color: rgb(20, 41, 103);
    border-color: rgb(20, 41, 103);
}
.tabla-azul{
    color: black;
    background-color: rgb(255, 147, 46);
    
}

.logo{
    width: 210px;
    padding-top: 0;
    padding-bottom: 0;
}

.footer-bg{
    background-color: rgb(20, 41, 103);
    color: white;
    height: 100vh;
}

.social-icon{
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
    color: white;
}